.body, html {
  font-family: "Inter", sans-serif;
}

.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
  }

  .product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
  }
  .product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
  }
